<h1>{{movie.title}}{{movie.name}}</h1>
<img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="{{movie.title}}" />
<p>{{movie.overview}}</p>
<ul>
  <li>Release Date: {{movie.release_date}}{{movie.first_air_date}}</li>
  <li>Popularity: {{movie.popularity}}</li>
  <li>Vote Average: {{movie.vote_average}}</li>
</ul>
