<h1>Media List </h1>
<ul>
<div><a href="/media"> Click to search for a movie/show</a></div>
<a href="/media/allmovies"> Click here to view the list of all movies</a> 
    {{#each media}}
        <li>
            {{#if media.release_date }}
            <h2></h2><p>Title: {{this.original_name}}</p></h2>
            {{else}}
            <p>Title: Unknown</p> 
            {{/if}}

            {{#if media.overview }}
            <div><p>Synopsis: {{media.overveiw}}</p>
            </div>
            {{else}}
            <div><p>Synopsis: Information not available</p>  
            {{/if}}

             {{#if this.vote_average}}
             <p>Rating: {{this.vote_average}}</p>
            {{else}}
             <p>Rating: Rating informaiton not available</p>  
            {{/if}}     

             {{#if this.director.name}}
            <p>Director/Creator: {{this.director.name}}</p>
            {{else}}
            <p>Director/Creator: Unknown</p>   
            {{/if}}     

            <p>Genre: {{{this.genres.name}}}</p>
            <p>Type: Show </p>   

            {{#if this.first_air_date}}
            <p>Aired Date: {{this.first_air_date}}</p>
            {{else}}
            <p>Aired Date: Information not available</p>   
            {{/if}}         
        </li>
    {{/each}}
</ul>
