<h1>Media List </h1>
<ul>
<div><a href="/media"> Click to search for a movie/show</a></div>
<a href="/media/allmovies"> Click here to view the list of all movies</a> 
    {{#each media}}
        <li>
            {{#if media.release_date }}
            <div><h2>{{media.title}}</h2>
            </div>
            {{else}}
            <div><h2>{{this.name}}</h2>  
            {{/if}}
            <p>Synopsis: {{this.overview}}</p>
            <p>Rating: {{this.vote_average}}</p>
            <p>Genre: {{{this.genres.name}}}</p>
            {{#if this.director.name}}
            <p>Director/Creator: {{this.director.name}}</p>
            {{else}}
            <p>Director/Creator: Unknown</p>   
            {{/if}}     
            
            {{#if this.release_date }}
            <p>Type: Movie </p>
            {{else}}
            <p>Type: Show </p>   
            {{/if}}             
            {{#if this.release_date }}
            <p>Aired Date: {{this.release_date}}</p>
            {{else}}
            <p>Aired Date: {{this.first_air_date}}</p>   
            {{/if}}         
        </li>
    {{/each}}
</ul>
