<h1>Media List </h1>
<ul>
<div><a href="/media"> Click to search for a movie/show</a></div>
<a href="/media/allshows"> Click here to view the list of all shows</a> 
    {{#each media}}
        <li>
            {{#if media.release_date }}
            <p>Title: {{media.title}}</p>
            {{else}}
            <p>Title: Unknown</p>  
            {{/if}}

            {{#if this.overview}}
           <p>Synopsis: {{this.overview}}</p>
            {{else}}
           <p>Synopsis: Information not available</p> 
            {{/if}}  

            {{#if this.vote_average}}
            <p>Rating: {{this.vote_average}}</p>
            {{else}}
             <p>Rating: Rating information not available</p>  
            {{/if}}  

            <p>Genre: {{{this.genres.name}}}</p>
            {{#if this.director.name}}
            <p>Director/Creator: {{this.director.name}}</p>
            {{else}}
            <p>Director/Creator: Unknown</p>   
            {{/if}}                 
        
            <p>Type: Movie </p>
                        
            {{#if this.release_date }}
            <p>Aired Date: {{this.release_date}}</p>
            {{else}}
            <p>Aired Date: Information not available</p>   
            {{/if}}         
        </li>
    {{/each}}
</ul>
